@import url(details.css);
@import url(header.css);
@import url(upper.css);
@import url(middle.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.about {
  margin-top: 40px;
  padding: 20px;
}

@media (max-width: 768px) {
  .img-logo {
    height: 40px;
  }
  header .other-menu a {
    margin-right: 3px;
  }
  .upper {
    height: 250px;
  }
  .upper .intro {
    margin-top: -5%;
    margin-inline: 0;
    margin-left: 2%;
  }
  .upper .intros.english {
    font-size: 30px;
  }

  .upper .intros.amharic {
    font-size: 20px;
  }
  .middle div {
    width: 310px;
  }
}
